.index-tab-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fd7e14 !important;
    padding: 0 30px 0 30px  !important;

}


.index-selected-tab {
    background-color: transparent !important;
    color: #fd7e14 !important;
    border-bottom: 2px solid #fd7e14 !important;
}
