.tabs {
    width: 100%;
}

.tab-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: purple !important;
    padding: 0  !important;
    margin: 0 !important;
    width: 100%;
}

.tab {
    border: 1px solid transparent;
    list-style: none;
    padding: 6px 0;
}


.selected-tab {
    color: purple !important;
    background-color: white !important;
    font-weight: 700;
    border-bottom: 2px solid purple;
}

.tab-0 {
    border: 1px solid transparent;
    list-style: none;
    padding: 6px 0;
}
.tab-list-0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #757575 !important;
    padding: 2px  !important;
    margin: 50px 0 25px 0 !important;
}

.selected-tab-0 {
    color: gray !important;
    background-color: white !important;
    font-weight: 700;
    border-bottom: 2px solid gray;
    bottom: 0;
}

.image-container  {
    margin: 50px 0;
}
