:root {
    --device-width: 0; /* initial value */
    --window-width: 0; /* initial value */
}

.parent .child {
    width: inherit;
    max-width: inherit;
}

body {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*box-sizing: border-box;*/
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.image {

}




header {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 0 10px 0;
}

.nav {
    display: grid;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    column-gap: 16px;
}


.menu-item {
    text-align: right;
    list-style-type: none;
}

.menu-item-content {
    color: purple;
    font-weight: 700;
    text-decoration-line: none;
}

.menu-button {
    color: purple;
    background-color: white;
    font-size: 64px;
    border: 0;
}

.navlink:hover {
    color: dodgerblue;
    font-weight: 700;
    text-decoration-line: none;
}

main {
    text-align: center;
}

h1 {
    margin: 0 auto 50px auto;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    color: gray;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
}

h3 {
    font-style: italic;
    font-weight: 200;
    font-size: 1.0rem;
}

.button-default {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    background-color: purple;
    border: 2px solid purple;
    color: #fff
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.flex-column-space-around {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cell {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paragraph {
    min-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paragraph-sentence {
    display: inline;
    white-space: nowrap;
    overflow-wrap: normal;
}

.paragraph-line-break {
    display: block;
}

.paragraph-justify {
    text-align: justify;
}

.paragraph-center {
    text-align: center;
}

.paragraph-space-out-vertically {
    margin-top: 25px;
    margin-bottom: 25px;
}

.paragraph-huge-bottom {
    margin-top: 25px;
    margin-bottom: 100px;
}

.link {
    text-decoration: none;
    color: purple;
}

.linkWithArrow {
    display: grid;
    grid-template-columns: auto 24px;
    align-items: center;
    justify-items: left;
    margin-top: 0;
    margin-bottom: 0;
    height: 48px;
    text-align: left;
    gap: 16px;
    text-decoration: none;
    color: purple;
}

.linkButton {

    width: 100%;
}

.link-arrow {
    font-size: 24px;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.layout-content {
}

.layout-logo-and-menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.layout-logo-center {

}

.layout-logo-left {

}

.layout-filler {
    height: 100px;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: gray;
}

.top-menu-active {
    border-bottom: 2px solid purple;
    font-weight: 700;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: purple;
    background-color: #f9f9f9;
}

.bottom-menu-icon {
}

.bottom-menu-label {
    font-size: 10px;
    color: purple;
}


@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .layout-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}
